body
            {
                background-color: #F6ECCE;
                color: #4B472C;
                margin-left: 20%;
                margin-right: 20%;
                font-family: 'Roboto', sans-serif;
            }

nav       {
                background-color: #F6ECCE; 
                padding: 5px;
                color: #4B472C;
                text-align: center;

            }
nav ul   {
                list-style-type: none;
                display: inline;
                font-size: 110%;
                display: block;
            }

nav li + li:before{
                content: " ≡ ";
                  }

a:hover     {
                color: #4B472C;
            }
a           {
                color: gray;
            }

figure      {
                text-align: center;
                margin-left: auto;
                margin-right: auto;
                display: block;
                font-style: italic;
            }   
h1, h2, h3  {
                font-family: 'Kanit', sans-serif;
            }
header, footer{
    text-align: center;
              }   
h2          {
            text-align: center;
            }
h3          {
            text-align: center;
            }
table td, th{
    border: 1px solid;
            }
#toprow     {
                background-color:#342819;
                color: #E2D1BD;
            }
table tr:nth-child(even) {
                background-color: #E2D1BD;
                color: #342819;
                        }
table tr:nth-child(odd) {
                            background-color: #8A6942;
                            color: #E2D1BD;
                                    }

input       {
                background-color: floralwhite;
                display: block;
                color: black;
                border: 2px solid;
                font-size: 16px;

            }
input[type = "reset"]       {
                background-color: #342819;
                color: #E2D1BD;
                display: inline;
                font-size: 125%;
            }
input[type = "submit"]       {
                background-color: #342819;
                color: #E2D1BD;
                display: inline;
                font-size: 125%;
            }
form        {
    width: 35%;
    margin-left: auto;
    margin-right: auto;
            }

select{
    background-color: floralwhite;
    display: block;
    color: black;
    border: 2px solid;
    font-size: 16px;
    width: 50%;
}

nav ul li{
    display: inline-block;
    text-decoration: none;
}
input[type="radio"]{
    display: inline-block;
}
input[type ="checkbox"]{
    display: inline-block;
}