<footer> 
    <p>Designed by <a href = "onghenaindustries.com/">Onghena Industries©</a></p>
    <a href="https://validator.w3.org/check?uri=referer" id = "validation_link_html" style = "text-decoration: none;">
        <img src="images/button-validation-html5.png" width="88" height="31" alt="Validate webpage HTML.">
    </a>
    
    <a href="https://jigsaw.w3.org/css-validator/check/referer" id = "validation_link_css" style = "text-decoration: none;">
        <img src="images/button-validation-css.png" width="88" height="31" alt="Validate webpage CSS.">
    </a> 
    <script src="scripts/validate.js"></script> 
    </footer>    