<header> 
    <h1>Joseph "Joe" Onghena's Jovial Ocelot: ITIS3135</h1>
    
  <nav >
    <ul >
        <li class = "displayli"><a href = ".." >Home</a></li>
        <li class = "displayli">  <a href = "josephonghena.html">Introduction</a></li>
        <li class = "displayli"> <a href = "contract.html">Contract</a></li>
        <li class = "displayli"><a href = "index.html">Itis 3135 Home</a></li>
        <li class = "displayli "><a href = "tables.html">Tables</a></li>
        <li class = "displayli "><a href = "forms.html">Forms</a></li>
        <li class = "displayli"><a href = "stuff/CraPyWeb+%20Page.htm">CrappyWeb Page</a></li>
        <li class ="displayli "><a href = "website_evaluations.html">Website Evaluation</a></li>
        <li class = "displayli "><a href = "firstscripts.html">First Scripts</a></li>
        <li class = "displayli "><a href = "polygons.html">polygon</a></li>  
        <li class = "displayli "><a href = "calculator_try.html">My Calc</a></li>  
        <li class = "displayli "><a href = "calculator_fcc.html">Real Calc</a></li> 
        <li class = "displayli "><a href = "accessibility/index.html">Accessibility</a></li>   
        <li class = "displayli "><a href = "arrays.html">Arrays</a></li>    
        <li class = "displayli "><a href = "designwebpage.html">Design Page</a></li>    

      </ul>
</nav>
</header>
