body
            {
                background-color: #2e2d25;
                
                color: #F6ECCE;
                margin-left: 20%;
                margin-right: 20%;
                font-family: 'Roboto', sans-serif;
            }
.center
            {
                margin-left: auto;
                margin-right: auto;
                display: block;
                
            }
nav         {
                background-color: #2e2d25; 
                
                padding: 5px;
                color: #F6ECCE;
                text-align: center;

            }
.toplist    {
                list-style-type: none;
                display: inline;
                font-size: 110%;
                display: block;
            }
.displayli  {   
                display: inline-block;
                text-decoration: none;
            }
nav li + li:before{
                content: " ≡ ";
                  }

a:hover     {
                color: #fdffee;
                
            }
a           {
                color: #F6ECCE;
            }

h1, h2, h3  {
                font-family: 'Kanit', sans-serif;
                text-align: center;
            }
header, footer{
    text-align: center;
            }   
