body
            {
                background-color: #F6ECCE;
                color: #4B472C;
                margin-left: 20%;
                margin-right: 20%;
                font-family: 'Roboto', sans-serif;
            }
.center
            {
                margin-left: auto;
                margin-right: auto;
                display: block;
                
            }
.topnav         {
                background-color: #F6ECCE; 
                padding: 5px;
                color: #4B472C;
                text-align: center;

            }
.toplist    {
                list-style-type: none;
                display: inline;
                font-size: 110%;
                display: block;
            }
.displayli  {   
                display: inline-block;
                text-decoration: none;
            }
nav li + li:before{
                content: " ≡ ";
                  }

a:hover     {
                color: #4B472C;
            }
a           {
                color: gray;
            }
.currentli  {

                background-color: #F6ECEC;
            }
figure      {
                text-align: center;
                margin-left: auto;
                margin-right: auto;
                display: block;
                font-style: italic;
            }   
h1, h2, h3  {
                font-family: 'Kanit', sans-serif;
            }
header, footer{
    text-align: center;
}